*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    display: flex;
}
.container{
    width: 300px;
    /* height: 500px; */
    background-color:rgb(30, 29, 29);
    border-radius: 25px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
}
.logo{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.img{
    border-radius: 50px;
}
.text{
    margin-top: 20px;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
p1{
    margin-top: 10px;
    color: rgb(170, 255, 0);
    font-size: 15px;
    
}
.text2{
    margin-top: 20px;
    font-size: 15px;
    
   
}
.menu{ 
    display: flex;
    flex-direction: column;
  
    margin: 30px;
    margin-top: 10px;
    
}
.items{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color:rgb(67, 67, 67);
    color: rgb(245, 245, 245);
    cursor: pointer;
}
.items:hover{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color:rgb(219, 238, 0);
    color: rgb(67, 67, 67);
    cursor: pointer;
    transition: 1s;
}